{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<main class="container py-5">
    <div class="hero text-center mb-5">
        <h1>Controla el número de lavados de coches en todos tus centros</h1>
        <p>Una aplicación sencilla y fácil de usar para gestionar y optimizar los lavados de coches en tus centros repartidos por todo el país.</p>
    </div>


    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2>¿Cómo funciona?</h2>
                <p>La aplicación es extremadamente fácil de usar:</p>
                <ul>
                    <li>Cada empleado toma una foto de la matrícula de cada coche que se lave.</li>
                    <li>Automáticamente se realiza el reconocimiento de la matrícula.</li>
                    <li>Se lleva un conteo de los lavados, se registra la geolocalización y se genera un resumen.</li>
                    <li>Se gestiona la facturación de manera automática.</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'lavado-2.png' %}" class="img-fluid rounded" alt="App de lavado de coches">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{% static 'lavado-3.jpg' %}" class="img-fluid rounded" alt="Proceso de lavado">
            </div>
            <div class="col-md-6">
                <h2>Ventajas de usar nuestra aplicación</h2>
                <ul>
                    <li>Optimiza el tiempo y los recursos de tu equipo de limpieza.</li>
                    <li>Reduce los costes operativos y mejora la rentabilidad de tu negocio.</li>
                    <li>Aumenta la satisfacción de tus clientes con un servicio de limpieza rápido y de calidad.</li>
                    <li>Mejora la imagen y la reputación de tu empresa.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OM"></script>
</main>

{% endblock %}
